section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-controls {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
  margin-bottom: 1rem;
}

.function {
  width: 8rem;
  height: 2.6rem;
  margin: 0rem 0.5em;
  background-color: var(--background-circle);
  border-radius: 0.4rem;
}

.pomodoro-button {
  color: var(--red);
  border: 2px solid var(--red);
}

.short-break-button {
  color: var(--blue);
  border: 2px solid var(--blue);
}

.long-break-button {
  color: var(--purpure);
  border: 2px solid var(--purpure);
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#circle {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 19rem;
  height: 19rem;

  padding: 4rem;
    
  /* Border */
    border: 8px solid transparent;
    border-radius: 50%;
    background: 
      linear-gradient(to right, var(--black-dark), var(--black-dark)), 
      linear-gradient(to bottom, var(--gray), var(--background-circle)); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    
  animation: opacity 5s;
}

.active {
  --background-circle: var(--green);
}

.paused {
  --background-circle: var(--red);
}


.pomodoro-active {
  --background-circle: var(--red);
}

.short-break-active {
  --background-circle: var(--blue);
}

.long-break-active {
  --background-circle: var(--purpure);
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.timer {
  color: var(--gray);
  font-size: 4rem;
  
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 1rem;
}

.timer span {
  color: var(--background-circle);
}

.button-action {
  /* margin-top: 1rem; */

  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: var(--green);
  background-color: var(--gray);

}

button:hover {
  filter: brightness(0.8);
  transition: filter 0.3s;
}

.cicle {
  padding: 1rem 0;
}

@media screen and (max-width: 450px) {
  section {
    flex-direction: column-reverse;
  }
  
  .container-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .function {
    margin: 0.5rem;
    background-color: var(--background-circle);
    border-radius: 0.4rem;
  }
}