/* Fonts */
@font-face {
  src: url("../src/fonts/Audiowide-Regular.ttf");
  font-family: "Audiowide-Regular";
  font-weight: normal;
}

/* cores */
:root {
  --red: #EB5757;
  --green: #44EE69;
  --black-dark: #000;
  --gray: #223;
  --background-circle: #223;
  --blue: #57E2EB;
  --purpure: #7D57EB;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Audiowide-Regular", monospace;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--black-dark);
}

.logo {
  width: 16rem;
  animation: opacity 3s;
}